<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<center>
    <table>
        <tr>
            <th>SLNO</th>
            <th>HEADING</th>
            <th>DESC</th>
            <th>DATE</th>
        </tr>
        {% for data in sqlserverconn %}
        <tr>
            <td>{{data.SLNO}}</td>
            <td>{{data.SPIRITUAL_HEADING}}</td>
            <td>{{data.SPIRITUAL_TEXT}}</td>
            <td>{{data.CURR_DATE}}</td>
        </tr>
        {% endfor %}
    </table>
</center>

</body>
</html>